body {
  font-size: 120%;
  background-color: #f1faee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input{
  background-color: #f5fcf3!important;
  border-color: #1d3557!important;
  box-shadow: inset 0px 0px 2px #457B9d;
  ;
}


#add-btn{
  background-color: #a8dadc;
  color: #1d3557;
  border-color: #457B9d;

}

#sub-btn{
  background-color: #1d3557;
  color: #f1faee;

}

table {
  width: 100%;
  outline: 1px solid #457B9d!important
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f5fcf3;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.thead{
  background-color: #457B9d;
  color: #f1faee
}
/* tr:nth-child(even) {
  background-color: #dddddd;
}  */


.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #457b9d;
    Color: #f1faee;
    /* border-radius: .3rem; */
    /* box-shadow: inset 2px 0px 2px whitesmoke; */
    border-bottom: 3px solid #1d3557;
    box-shadow: inset 0px 0px 5px #457B9d;

}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
  /* text-decoration: underline; */
}

#total{
  text-decoration: underline;
  font-weight: bold;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 100%;
  /* margin: 0 auto; */
}

@media (min-width: 576px){
  .jumbotron {
      padding: 2rem 1rem;
  }
}

@media (max-width: 400px){
  .jumbotron {
      padding: 0 0;
      font-size: .8em
  }
  h1{
    font-size: 3em!important
  }
  input, button{
    margin: 3px;
    justify-content: center
  }
  td{
    font-size: .8em
  }
}