body {
  font-size: 120%;
  font-family: Arial;
}

button, input {
  font-size: 100%;
  font-family: Arial;
  margin: 2px!important;
  border: 1px solid black;
}

/* .jumbotron{
  background-color: #fff5d7!important;

} */

#add-btn{
  background-color: #dddfff;
  margin-left:5px!important;
}

#sub-btn{
  background-color: #ffaaab;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
} 

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
  /* text-decoration: underline; */
}

#total{
  text-decoration: underline;
  font-weight: bold;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 100%;
  /* margin: 0 auto; */
}

/* .form-control{
  margin: 5px!important;
}

button{
  margin: 5px!important;
} */



@media only screen and (max-width: 414px) {
  .display-4 {
    font-size: 2.5rem
  }
  .total{
    font-size: 1.2rem
  }
  table{
    font-size:.8rem
  }
}
