body {
  font-size: 120%;
  font-family: "Courier New", Courier, monospace;
}

canvas {
  font-family: "Courier New", Courier, monospace;
}

input {
  /* border-bottom-color: #536dfe !important; */
  border-radius: 0 !important;
}

#add-btn {
  border: 2px solid green;
  border-radius: 25px;
}

#add-btn:hover {
  color: black;
  background-color: #9fe1b3;
}

#sub-btn {
  border: 2px solid red;
  border-radius: 25px;
}
#sub-btn:hover {
  color: black;
  background-color: #ffcdcd;
}

.fa-minus {
  color: red;
}

.fa-plus {
  color: green;
}

table {
  width: 100%;
  /* outline: 1px solid #536dfe !important; */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #eff1ff;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.thead {
  background-color: #536dfe;
  color: #f1faee;
}
/* tr:nth-child(even) {
  background-color: #dddddd;
}  */

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #536dfe;
  color: #f1faee;
  border-radius: 0 !important;
}

svg {
  float: left;
  height: 30vh;
  width: 30vw;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 1050px;
  text-align: center;
}

.total {
  font-size: 150%;
}

#total {
  text-decoration: underline;
  font-weight: bold;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 100%;
  /* margin: 0 auto; */
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 2rem 1rem;
  }
}

@media (max-width: 400px) {
  .jumbotron {
    padding: 0 0;
    font-size: 0.8em;
  }
  h1 {
    font-size: 3em !important;
  }
  input,
  button {
    margin: 3px;
    justify-content: center;
  }
  td {
    font-size: 0.8em;
  }
}
